[run]
omit =
    # Don't complain about installer code
    setup.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma:
    pragma: no cover

    # Don't complain if non-runnable code isn't run:
    if __name__ == .__main__.:
    def _main()
