dist: trusty
language: python
cache: pip
python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

env:
  - BERKELEYDB_DIR=/usr

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y libdb5.1-dev

install:
  - pip install -U setuptools
  - pip install -r requirements.pip
  - pip install -r requirements-py3.pip
  - pip install -r requirements-dev.pip

script:
  - coverage run --source=gutenberg -m nose
  - flake8 gutenberg

after_success:
  - coverage report
  - pip install coveralls
  - coveralls

deploy:
  provider: pypi
  user: Master_Odin_Bot
  password:
    secure: YxFBPXslFL7F9eQIvMKz75GvKnvG87E8LisYtVlD7fifuThr4MEXhE+eqxbA0ywLN2K1/aqP9MEBS6QypVMoAwN98ZmIblsjRDa+jeOkeBQxJU/DTPXpM1dpW6CJMekVaiM/04R5+wca9Ln+jewlQVWlZWgNm4b5Y1BHxDFunCgijbiGgpPoAsdcAxmjtRvMs98BP+HoyjXOQWGIUFhqSm6J78H5aYE2SORQPYrcytC76F502kQZtUiIQRHuMhD1QvUpTbLHV2b/+UV8x0pEN9g15tnIWJt1DVpHEAoqN0jlBi2aIbc2/WW+4xfI8GNtHHswKUEB1if09p6Zq1CcRuNwSAawub2dqpodwRSasdAEl2CoORdvOmEhrhHDJZ0FrASTGP2kZp/ARuAmJEzQ5LxlhiKLOmeDPNXx273pl4iTXZ2kjdtiuHzWdyrwdnC7EXRke3nSY876Rnc/ZxMwMw/nEi4aoWFjNZW+RRh2nMtj3qkompFJ2k/fszzvqKN97ow5PowYy/ESFp7WJc/PEhQM8uAmtCHdu1A3W/bXu2KTO4jjbqTKey0YZAEQvRWwKp6moLtBp2iFLqRNv93W3USQZjYUsVJ3o4X6WTAQEsNxFC7Bx9KlWtDaROEtGqY8A0igAKdxAKn54Mt5JBj+7DIDQNLQvanonAFz780XMc8=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: c-w/gutenberg
