language: python

python:
  - '2.7'
  - '3.4'
  - '3.5'
  - '3.6'

services:
  - docker

install:
  - if [ "$TRAVIS_PYTHON_VERSION" = "2.7" ]; then docker build --build-arg PYTHON_VERSION="$TRAVIS_PYTHON_VERSION" -t "gutenberg-$TRAVIS_PYTHON_VERSION" -f Dockerfile-py2 .; fi
  - if [ "$TRAVIS_PYTHON_VERSION" != "2.7" ]; then docker build --build-arg PYTHON_VERSION="$TRAVIS_PYTHON_VERSION" -t "gutenberg-$TRAVIS_PYTHON_VERSION" -f Dockerfile-py3 .; fi

script:
  - docker run -v $PWD:/app "gutenberg-$TRAVIS_PYTHON_VERSION" flake8 gutenberg
  - docker run -v $PWD:/app "gutenberg-$TRAVIS_PYTHON_VERSION" coverage run --source=gutenberg -m nose2

after_success:
  - coverage report
  - pip install coveralls
  - coveralls

deploy:
  provider: pypi
  user: Master_Odin_Bot
  password:
    secure: YxFBPXslFL7F9eQIvMKz75GvKnvG87E8LisYtVlD7fifuThr4MEXhE+eqxbA0ywLN2K1/aqP9MEBS6QypVMoAwN98ZmIblsjRDa+jeOkeBQxJU/DTPXpM1dpW6CJMekVaiM/04R5+wca9Ln+jewlQVWlZWgNm4b5Y1BHxDFunCgijbiGgpPoAsdcAxmjtRvMs98BP+HoyjXOQWGIUFhqSm6J78H5aYE2SORQPYrcytC76F502kQZtUiIQRHuMhD1QvUpTbLHV2b/+UV8x0pEN9g15tnIWJt1DVpHEAoqN0jlBi2aIbc2/WW+4xfI8GNtHHswKUEB1if09p6Zq1CcRuNwSAawub2dqpodwRSasdAEl2CoORdvOmEhrhHDJZ0FrASTGP2kZp/ARuAmJEzQ5LxlhiKLOmeDPNXx273pl4iTXZ2kjdtiuHzWdyrwdnC7EXRke3nSY876Rnc/ZxMwMw/nEi4aoWFjNZW+RRh2nMtj3qkompFJ2k/fszzvqKN97ow5PowYy/ESFp7WJc/PEhQM8uAmtCHdu1A3W/bXu2KTO4jjbqTKey0YZAEQvRWwKp6moLtBp2iFLqRNv93W3USQZjYUsVJ3o4X6WTAQEsNxFC7Bx9KlWtDaROEtGqY8A0igAKdxAKn54Mt5JBj+7DIDQNLQvanonAFz780XMc8=
  on:
    tags: true
    distributions: sdist bdist_wheel
    repo: c-w/gutenberg
